*{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div{
    display:flex;
    justify-content:center;;
    align-items:center;
    height: 100px;
}
button{
    background-color: #aaa;
    border-radius: 5px;
    font-weight: bold;
    height:2.5rem;
    width: 5.5rem;
}